<footer class="text-center text-white fixed-bottom navbar-fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(253, 51, 51, 0.849);">
    © 2022 Copyright : 
    <a class="text-white" href="/">Neosoft Technologies</a>
  </div>
  <!-- Copyright -->
</footer>